{% include 'header' %}

<section class="padding-y-600 padding-y-lg-1200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{ snippet }}
      </div>
    </div>
  </div>
</section>

{% include 'footer' %}