{% include 'header' %}
{% include 'shop_breadcrumbs' %}

<section class="padding-bottom-600 padding-bottom-lg-1200">
  <div class="container">
    <div class="row column-gap-xl-1200 column-gap-lg-600">
      <div class="col-12 col-lg">
        {% include 'product_gallery' %}
      </div>

      <div class="col-12 col-lg">
        {% include 'product_details' %}
      </div>
    </div>
  </div>
</section>

{% include 'product_relations' %}
{% include 'full_image_bg_cta' %}
{% include 'product_faq' %}
{% include 'product_seo_section' %}

{% include 'footer' %}