{% include 'header' %}
{% include 'shop_breadcrumbs' %}

<section>
  <div class="container">
    <div class="row column-gap-xl-1200 column-gap-lg-600">
      <div class="col-12 col-lg">
        {% include 'product_gallery' %}
      </div>

      <div class="col-12 col-lg">
        {% include 'product_details' %}
      </div>
    </div>
  </div>
</section>
{% include 'footer' %}
